Reclutamiento.MVC/Service References/ReclutamientoWS/ReclutamientoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40845/ReclutamientoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Rubro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rubro" nillable="true" type="tns:Rubro" />
  <xs:complexType name="ArrayOfRubro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rubro" nillable="true" type="tns:Rubro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRubro" nillable="true" type="tns:ArrayOfRubro" />
  <xs:complexType name="Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aptitudes" nillable="true" type="tns:ArrayOfAptitud" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anuncio" nillable="true" type="tns:Anuncio" />
  <xs:complexType name="ArrayOfAptitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aptitud" nillable="true" type="tns:Aptitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAptitud" nillable="true" type="tns:ArrayOfAptitud" />
  <xs:complexType name="Aptitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aptitud" nillable="true" type="tns:Aptitud" />
  <xs:complexType name="Empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumeroRuc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rubro" nillable="true" type="tns:Rubro" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="OperationStatus">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationStatus" nillable="true" type="tns:OperationStatus" />
  <xs:complexType name="ArrayOfAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anuncio" nillable="true" type="tns:Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncio" nillable="true" type="tns:ArrayOfAnuncio" />
  <xs:complexType name="Aptitud_Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAnuncio" type="xs:int" />
      <xs:element minOccurs="0" name="IdAptitud" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aptitud_Anuncio" nillable="true" type="tns:Aptitud_Anuncio" />
  <xs:complexType name="ArrayOfAptitud_Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aptitud_Anuncio" nillable="true" type="tns:Aptitud_Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAptitud_Anuncio" nillable="true" type="tns:ArrayOfAptitud_Anuncio" />
</xs:schema>